#quiz-box {
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

.option {
  display: block;
  width: 100%;
  text-align: left;
  margin: 8px 0;
  padding: 12px;
  background: #eef3ff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.option:hover { background: #dfe7ff; }

.correct { background:#c7ffc7 !important; border-color:#00aa00; }
.wrong   { background:#ffd4d4 !important; border-color:#ff0000; }

#next-btn {
  padding: 10px 20px;
  margin-top: 15px;
  display:none;
}

.explain-box {
  background:#f3f3f3;
  padding:12px;
  border-radius:8px;
  margin-top:15px;
}

.final-score {
  font-size: 28px;
  font-weight: bold;
}

.remark { font-size:20px; margin-bottom:15px; }
